.cars{
    background-color: green;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.fruits{
    background-color: orange;
    padding: 15px;
    margin: 15px;

}

#wanafunzi{
text-align: center;
}
#myimages{
    width: 225px;
}